<!-- wp:template-part {"slug":"header","theme":"clubblocks","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"hero-section-one"} /-->

	<!-- wp:pattern {"slug":"service-section-one"} /-->

	<!-- wp:pattern {"slug":"content-section-two"} /-->

	<!-- wp:pattern {"slug":"content-section-one"} /-->

	<!-- wp:pattern {"slug":"home-query-loop"} /-->

	<!-- wp:pattern {"slug":"service-section-three"} /-->

	<!-- wp:pattern {"slug":"content-section-four"} /-->

	<!-- wp:pattern {"slug":"content-section-five"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"clubblocks","tagName":"footer"} /-->
